<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManagement </title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">



    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">School Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="About" asp-controller="Home">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Course">Course</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Lecturer">Lecturer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Student">Student</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main>
       <div class="container mt-4">
          @RenderBody()
       </div>
    </main>


    <footer class="container">

    </footer>
    </main>


    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
